/***************
General
***************/
a {
  text-decoration: none;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 1%;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: 500;
}

/***************
Container
***************/
#container {

}

/***************
Header
***************/
header {
  padding: 10px 0 2px;
  border-bottom: 1px #666666 solid;
  text-align: center;
  position: relative;
  overflow: hidden;
}

#logo img{
  max-width: 150px;
  padding-bottom: 5px
}

nav {

}

nav li {
  display: inline-block;
  padding: 0 5px;
  font-weight: 500;
  font-size: 1.25em;
}

/***************
Content
***************/
#content {
  padding: 15px 5px;
}

section {  
  max-width: 800px;
}

/***************
Page: Home
***************/

/***************
Page: About
***************/

/***************
Page: Contact
***************/

/***************
Footer
***************/
footer {
  text-align: center;
  padding: 20px;
}

/***************
Colors
***************/
body {
  color: #444;
}

nav a, nav a:visited {
  color: #444;
}

nav a.selected, nav a:hover {
    color: rgb(68, 108, 179);
}

footer {
  color: #888;
}