@media screen and (min-width: 480px) {
  body {
    margin: 0 5%;
  }
  
  #logo img{
    float: left;
  }

  nav {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  nav li:last-child {
    padding-right: 0;
  }
  
  #content {
    padding: 15px 0;
  }
}

@media screen and (min-width: 660px) {
  body {
    margin: 0 10%;
  }
}

@media screen and (min-width: 1180px) {
  body {
    margin: 0 18%;
  }  
}