// Variables
$primary-color: #009ce0;
$secondary-color: #faaa42;
$white: #ffffff;
$font-color: rgba(0,0,0,.8);

// General changes

ul {
    padding: 0;    
    list-style-type: none;
}

body {
    color: $font-color;
}

// Body


// Header
header {
    margin: 1rem 0;
}

// Logo
#logo {
    max-width: 25rem;
    margin: 0 auto;
}

// Navbar
nav {
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}

.nav-item {
    display: inline-block;
    margin: 0 1rem;
}

// Content
#content {
    padding: 1rem;    
    text-align: left;
    //background-color: $primary-color;
    //color: $white;    
    li {
        padding: 2rem;
        font-size: 2rem;
    }
    h1 {
        text-align: center;
    }
}

// Footer 
footer {
    margin: 3rem;
    font-size: 1.8rem;
    text-align: center;
}

// Responsive

@media (min-width: 768px) { 
    nav {
       // position: absolute;
       // right: 0;
       text-align: right;
    }
}