// General changes

ul {
    padding: 0;
}

// Body


// Header
header {
    margin: 1rem 0;
}

// Logo
#logo {
    max-width: 25rem;
    margin: 0 auto;
}

// Navbar
nav {
    text-align: center;
    margin: 1rem 0;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    margin: 0 1rem;
}

.selected {
    text-decoration: underline;
}