// General changes

ul {
    padding: 0;
}

#full-page {
    border: 5px solid green;
}

#content {
    border: 5px solid red;
}

header {
    border: 5px solid #F0F;
}

.nav-item {
    list-style: none;
    display: inline-block;
}

